.container {
  display: flex;
  margin: 10px;
  /* padding-left: px; */
}

.left-side {
  width: 292px;
  height: 1207px;
  border-radius: 20px;
  background-color: #004D99; /* Adjust the background color as needed */
  padding: 20px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); /* Optional: Adds some shadow for a nicer look */
}

.left-side ul {
  list-style-type: none;
  padding: 0;
}

.left-side li {
  margin: 10px 0;
  font-size: 16px;
  margin-bottom: 20px;
}

.right-side {
  flex-grow: 1;
  padding: 20px;
  background-color: #fff; /* Adjust the background color as needed */
  margin-left: 20px;
  border-radius: 20px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); /* Optional: Adds some shadow for a nicer look */
}

.left-side h2 {
  margin-bottom: 40px;
  background: #E6F5FF;
  color: #007bff;
  border-radius: 30px;
  padding: 10px;
  text-align: center;
}

.menu-list {
  list-style-type: none;
  padding: 0;
}

.menu-list li {
  margin: 10px 0;
  font-size: 16px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 30px;
}

.menu-list li svg {
  margin-right: 10px;
}

.menu-list li a {
  color: white;
  text-decoration: none;
  display: flex;
  align-items: center;
  transition: color 0.3s;
}

.menu-list li a:hover {
  background: #E6F5FF;
  color: #007bff; /* Adjust the hover color as needed */
}

.social-links {
  display: flex;
  justify-content: space-between;
  margin: 20px 0;
}

.social-links svg {
  font-size: 20px;
  cursor: pointer;
  transition: color 0.3s;
}

.social-links a {
  color: white;
  text-decoration: none;
}

.social-links a:hover svg {
  color: #ffc107; /* Adjust the hover color as needed */
}

.dark-mode-toggle {
  cursor: pointer;
  font-size: 24px;
  text-align: center;
  margin-bottom: 20px;
}

.home-button {
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 5px;
  padding: 10px;
  font-size: 16px;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  text-decoration: none;
  transition: background-color 0.3s;
}

.home-button svg {
  margin-right: 5px;
}

.home-button:hover {
  background-color: #0056b3; /* Adjust the hover background color as needed */
}

.dark-mode .left-side {
  background-color: #333;
  color: white;
}

.light-mode .left-side {
  background-color: #004D99;
  color: white;
}

.dark-mode .menu-list li a {
  color: #ccc;
}

.dark-mode .menu-list li a:hover {
  color: #ffc107;
}

.dark-mode .social-links a {
  color: #ccc;
}

.dark-mode .social-links a:hover svg {
  color: #ffc107;
}

.dark-mode .home-button {
  background-color: #444;
}

.dark-mode .home-button:hover {
  background-color: #222;
}

